<ul class="nav nav-tabs" id="topnav" role="tablist">
    {{nav:collection:pages}}
    <li class="nav-item" role="presentation">
        <div class="nav-link box" id="{{increment}}" data-bs-toggle="tab" data-bs-target="#tab{{increment:2}}" type="button" role="tab" aria-controls="tab{{increment:4}}" aria-selected="true"><h5 style="margin: 0;">{{title}}</h5></div>
    </li>
    {{/nav:collection:pages}}
</ul>

<div class="tab-content" id="topnavContent">
    <div class="close">X</div>
    {{nav:collection:pages}}
    <div class="tab-pane fade show" style="height: 100vh; overflow-y: auto;" id="tab{{increment:3}}" role="tabpanel" aria-labelledby="{{increment:1}}">
        <div style="max-width: 320px; margin-left: 30px; padding-top: 20px; padding-right: 30px;">
            <h2 style="color: red;">{{title}}</h2>
            {{section_summary}}
        </div>
        
        <ul class="nav nav-tabs" id="sections" role="tablist">
            {{ children }}
            <li class="nav-item" role="presentation">
                <button class="nav-link" style="height: auto; width: 350px; padding: 2em 3em; text-align: left; border-bottom: solid 2px white; outline: none;" id="{{increment:5}}" data-bs-toggle="tab" data-bs-target="#tab2{{increment:6}}" type="button" role="tab" aria-controls="tab2{{increment:7}}" aria-selected="true">
                    <h5>{{title}}</h5>
                </button>
            </li>
            {{ /children }}
        </ul>

        <div class="tab-content" id="sectionsContent">
            {{ children }}
            <div class="tab-pane fade show" id="tab2{{increment:8}}" role="tabpanel" aria-labelledby="{{increment:9}}">
                <h2 style="color: red;">{{title}}</h2>
                {{summary}}
                <div class="container-fluid">
                    {{if children}}
                    <div class="row">
                        {{children}}
                            <div class="col-md-6">
                                <a href="{{url}}">
                                    <div class="row">
                                        <div class="col-lg-5">
                                            <p>{{title}}</p>
                                            <img src="{{thumbnail_image}}" width="100%" alt="">
                                        </div>
                                        <div class="col-lg-7">
                                            <p>{{thumbnail_caption}}</p>
                                        </div>
                                    </div>
                                    
                                </a>
                            </div>
                        {{/children}}
                    </div>
                    {{else}}
                    <a href="{{url}}"><h4>{{title}}</h4></a>
                    <h1>no children</h1>
                    {{/if}}
                </div>
            </div>
            {{ /children }}
        </div>  
    </div>
    {{/nav:collection:pages}}
</div>  