<div class="w-full h-24 bg-blue-200 flex flex-row items-center fixed top-0 z-50">
    <div class="container mx-auto flex flex-row justify-between items-center">
        <a href="/">
            <h1>idi</h1>
        </a>
        <i class="fa-solid fa-bars hover:cursor-pointer" id="menuButton"></i>
    </div>
</div>

<div id="menuSheet" class="bg-blue-100/90 backdrop-blur-sm w-full h-screen overflow-y-scroll fixed -top-[100vh] z-40 pb-32">
    <div class="accordion container mx-auto pt-36">
        <style>
            .accordion-item.active .accordion-icon {
            transform: rotate(90deg);
            }
        </style>
        {{nav:collection:pages}}
        <div class="accordion-item border-b border-[#ccc] ">
            <div class="accordion-header cursor-pointer flex items-center justify-between p-3 font-inter font-medium hover:text-red-400 duration-200 ease-out text-2xl">
                {{title}}<span class="accordion-icon inline-block rotate-0 duration-200 ease-out"><i class="fa-solid fa-chevron-down accordion-icon"></i></span>
            </div>
            <div style="height: 0;" class="accordion-content bg-gray-100/40 overflow-hidden duration-200 ease-out">
                <div class="prose mx-auto my-8">
                {{section_summary}} 
                <a href="{{url}}"><button>More</button></a>
                </div>
                <div class="grid grid-cols-5 gap-8 px-16 mb-16">
                {{ children }}  
                <a href="{{ url }}">
                    <div class="flex flex-col items-center">
                        <video src="{{intro_movie}}" autoplay loop class="rounded overflow-hidden"></video>
                        <h3>{{ title }}</h3>
                    </div>
                </a>
                {{ /children }}
                </div>
            </div>
        </div>
        {{/nav:collection:pages}}
    </div>
</div>


<script>
    document.addEventListener('DOMContentLoaded', function() {
        const accordionItems = document.querySelectorAll(".accordion-item");

        accordionItems.forEach((item) => {
        const header = item.querySelector(".accordion-header");
        const content = item.querySelector(".accordion-content");

        header.addEventListener("click", () => {

            // close other items
            accordionItems.forEach((otherItem) => {
            if (otherItem !== item && otherItem.classList.contains("active")) {
                otherItem.classList.remove("active");
                otherItem.querySelector(".accordion-content").style.height = 0;
            }
            });

            item.classList.toggle("active");

            if (item.classList.contains("active")) {
            content.style.height = `${content.scrollHeight}px`;
            } else {
            content.style.height = 0;
            }
        });
        });
    });        
</script>






<div class="tab-content hidden" id="topnavContent">
    <div class="close">X</div>
    {{nav:collection:pages}}
    <div class="tab-pane fade show" style="height: 100vh; overflow-y: auto;" id="tab{{increment:3}}" role="tabpanel" aria-labelledby="{{increment:1}}">
        <div class="section-summary">
            
            {{section_summary}}
        </div>
        
        <ul class="nav nav-tabs" id="sections" role="tablist">
            {{ children }}
            <li class="nav-item" role="presentation">
                <button class="nav-link section-link" style="border-radius: 10px; margin: 5px 0;" id="{{increment:5}}" data-bs-toggle="tab" data-bs-target="#tab2{{increment:6}}" type="button" role="tab" aria-controls="tab2{{increment:7}}" aria-selected="true">
                    <h5>{{title}}</h5>
                </button>
            </li>
            {{ /children }}
        </ul>

        <div class="tab-content" id="sectionsContent">
            {{ children }}
            <div class="tab-pane fade show" id="tab2{{increment:8}}" role="tabpanel" aria-labelledby="{{increment:9}}">
                
                {{if children}}
                    <h2 style="padding-bottom: 30px;">{{summary}}</h2>
                {{else}}
                {{/if}}
                <div class="container-fluid">
                    {{if children}}
                    <div class="row">
                        {{children}}
                            <div class="col-md-6" style="margin-bottom: 30px;">
                                <a href="{{url}}" style="color: rgb(30, 27, 27);">
                                    <div class="row">
                                        <div class="col-lg-5">
                                            <img src="{{thumbnail_image}}" width="100%" alt="">
                                        </div>
                                        <div class="col-lg-7">
                                            <h3>{{title}}</h3>
                                            <p>{{thumbnail_caption}}</p>
                                        </div>
                                    </div>
                                    
                                </a>
                            </div>
                        {{/children}}
                    </div>
                    {{else}}
                    <a href="{{url}}" style="color: rgb(30, 27, 27);">
                        <div class="row">
                            <div class="col-lg-5">
                                <img src="{{thumbnail_image}}" width="100%" alt="">
                            </div>
                            <div class="col-lg-7">
                                <h3>{{title}}</h3>
                                <p>{{thumbnail_caption}}</p>
                            </div>
                        </div>
                        
                    </a>
                    {{/if}}
                </div>
            </div>
            {{ /children }}
        </div>  
    </div>
    {{/nav:collection:pages}}
</div>  