<!doctype html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title ?? site:name }}</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/splide.min.css">
        <script src="https://kit.fontawesome.com/4481495b8f.js" crossorigin="anonymous"></script>
        <script src="/js/splide.min.js"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Geologica:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    </head>
    <body>
                <!-- <div class="quote" style="margin-bottom: 60px; margin-top: 30px;">
                    {{collection:quotes sort="random" limit="1" }}
                        {{quote}}
                        — {{attribution}}
                    {{/collection:quotes}}
                </div> -->
                
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2" style="position: relative;">
                    <a href="/" style="z-index: 9999999999; position: fixed; top: 36px; left: 30px;">
                        <h1>idi</h1>
                    </a>
                    <div class="navigation">
                        <div style="display: flex; flex-direction: column; justify-content: space-between;">
                            {{ nav :from="/" }}
                                <div style="display: flex; align-items: center;">
                                    <a href="{{ url }}"{{ if is_current || is_parent }} class="active" {{/if }}>
                
                                        {{ title }}
                                    </a>
                                    {{ if is_current || is_parent }}
                
                                    {{ /if }}
                                </div>
                            {{ /nav }}
                        </div>
                    </div>
                </div>
                {{ template_content }}
            </div>
        </div>
                
        <script src="{{ mix src='/js/site.js' }}"></script>

        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/bs-init.js"></script>



    </body>
</html>
