<!doctype html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title ?? site:name }}</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/splide.min.css">
        <link rel="stylesheet" href="/css/style.css">
        <script src="https://kit.fontawesome.com/4481495b8f.js" crossorigin="anonymous"></script>
        <script src="/js/splide.min.js"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Geologica:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
        <script src="/js/bootstrap.min.js"></script>
    </head>
    <body>
        <!-- style="background-image: url('/assets/swirl.svg');" -->
                <!-- <div class="quote" style="margin-bottom: 60px; margin-top: 30px;">
                    {{collection:quotes sort="random" limit="1" }}
                        {{quote}}
                        — {{attribution}}
                    {{/collection:quotes}}
                </div> -->


        <div class="launcher"></div>  
        <div class="ticsmenu hide">{{partial:nav}}</div>

        <div class="col-lg-10 offset-lg-2">{{ template_content }}</div>
                
        <script src="{{ mix src='/js/site.js' }}"></script>

        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/bs-init.js"></script>

        <script>
            $(document).ready(function() {
                $('.launcher').click(function() {
                    $(this).toggleClass('expand');
                    $('body').toggleClass('fixed');
                    $('.ticsmenu').toggleClass('hide');
                });
                $('.close').click(function() {
                    $('.launcher').toggleClass('expand');
                    $('body').toggleClass('fixed');
                    $('.ticsmenu').toggleClass('hide');
                });
            });
        </script>

    </body>
</html>
