$charcoal: #5d5d5d;
$midnightaqua: #0e1025;
$grape: #1c1223;
$cream: #c5c2ca;
$blast: #bd245f;
$light: #F5F5F5;

//update
$mid: #273856;
$dark: #16253C;
$light: #E0F5FF;
$light60: hsla(0, 0%, 100%, 0.60);

$light: #d9d9d9;