body {
    background-color: #ebeef1;
    padding-left: 100px;
}
.navigation {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    background-color: #7c7091;
    transform: rotate(-90deg);
    transform-origin: 0 0;
    position: fixed;
    left: 0;
    top: 100vh;
    width: 100vh;
    z-index: 999;
    & a {
        color: $cream;
        transition: all .75s;
        margin: 0;
        padding: 30px;
        &:hover {
            background-color: #9195b4;
            transition: all .75s;
            text-decoration: none;
        }
    }
}
.main-content {
    width: auto;
    padding: 95px 30px;
}
