body {
    background-color: $mid;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 15px;
}
.navigation {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    position: fixed;
    top: 164px;
    z-index: 999;
    & a {
        color: $light60;
        transition: all .75s;
        margin: 0;
        padding: 24px 30px;
        border-radius: 10px;
        &:hover {
            color: $light;
            transition: all .75s;
            text-decoration: none;
        }
        &.active {
            background-color: $dark;
            color: $light;
        }
    }
}
.main-content {
    width: auto;
    padding: 95px 30px;
}
