body {
    background-color: $light;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
}
.main-content {
    width: auto;
    padding: 95px 30px;
}
