.launcher {
    background-color: rgb(255 255 255 / 59%);
    backdrop-filter: blur(38px);
    position: fixed;
    z-index: 9;
    height: 217px;
    width: 217px;
    border-radius: 50%;
    left: 60px;
    top: calc(50vh - 108px);
    transition: all 1s;
}
.expand {
    width: 600vh;
    height: 600vh;
    left: -100vw;
    top: -100vh;
}
.section-summary {
    max-width: 320px; 
    margin-left: 10px; 
    padding: 20px 30px;
    background-color: white;
    border-radius: 5px 30px 30px 5px;
}
button {
    background-color: white;
    border-radius: 5px 30px 30px 5px;
    overflow: hidden;
}
.square {
    border-radius: 30px;
    height: auto;
    width: auto;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    transition: all 1s;
}
.fixed {
    overflow: hidden;
    position: fixed;
}
.ticsmenu {
    position: relative;
    z-index: 99;
    transition: all 0.5s;
    left: 30px;
    top: 30px;
    opacity: 1;
    border-radius: 30px;
    overflow: hidden;
    height: calc(100vh - 60px);
}
.hide {
    opacity: 0;
    transition: all .5s;
    position: relative;
    left: -120vw;
}
#topnav {
    width: 105vw;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 60px);
    justify-content: space-evenly;
}
#topnav > li {
    flex: 1;
  }
.box {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    background-color: white; 
    color: #667b89;
    height: 100%; 
    min-height: 3em;
    width: 150px; 
    padding: 2em 3em; 
    text-align: left; 
    border-bottom: solid 2px white;
}
.nav {
    flex-direction: column;
    flex-wrap: nowrap;
}
.nav-tabs {
    border-bottom: none;
}
#topnavContent {
    position: fixed;
    left: 180px;
    top: 30px;
    width: calc(100% - 150px);
    // height: 100vh;
    // overflow-y: hidden;
}
#sectionsContent {
    position: fixed;
    left: 500px;
    top: 0px;
    width: calc(100% - 500px);
    padding: 60px;
    height: 100vh;
    overflow-y: auto;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active  {
    outline: none;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border: none;
}
.nav-tabs .nav-link {
    border-radius: 0;
    border: none;
}
.nav-tabs .nav-link .section-link {
    height: auto; 
    width: 350px; 
    padding: 2em 3em; 
    text-align: left; 
    border-bottom: solid 2px white; 
    outline: none;
    border-radius: 5px 30px 30px 5px;
}
.navigation {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    height: 100vh;
    & a {
        transition: all .75s;
        margin: 0;
        padding: 24px 30px;
        border-radius: 10px;
        & h3 {
            &:hover {
                color: $light;
                transition: all .25s;
                text-decoration: none;
            }
        }
        &.active {
            background-color: $dark;
            & h3 {
                color: $light;
            }
        }
    }
}
.menu {
    list-style-type: none;
    display: inline-block;
    margin: 0;
    width: 10vw;
    background-color: black;
}
.dropdown {
    display: none;
    width: 80vw;
    position: fixed;
    top: 0;
    left: 10vw;
    height: 100vh;
    overflow-y: scroll;
  }
  .dropdown * {
    margin: .25em 0;
  }
.menu:hover .dropdown {
    display: flex;
    flex-direction: column;
    background-color: $charcoal;
    backdrop-filter: blur(6px);
}
.dropdown-child {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(77, 77, 77);
    &:hover {
        background-color: rgb(90, 126, 126);
    }
}
.dropdown-grandchild {
    display: none;
    width: 70vw;
    position: fixed;
    top: 0;
    left: 20vw;
    z-index: 9999;
    height: 100vh;
  }
.dropdown-child:hover .dropdown-grandchild {
    display: block;
    background-color: red;
    backdrop-filter: blur(6px);
}
.dropdown-grandchild:hover .dropdown-grandchild {
    display: block;
}