$geologica: 'Geologica', sans-serif;

$Thin: 100;
$ExtraLight: 200;
$Light: 300;
$Regular: 400;
$Medium: 500;
$SemiBold: 600;
$Bold: 700;
$ExtraBold: 800;
$Black: 900;

body {
    font-family: $geologica;
    font-weight: $Regular;
    color: $charcoal;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #1f223e;
}

a {
    color: $blast;
    &:hover {
        text-decoration: none;
    }
}

h1 {
    font-weight: $Bold;
}
.title {
    font-size: 4em;
}
.meta {
    font-size: 14px;
    text-transform: lowercase;
    letter-spacing: 0.06em;
    font-weight: $Medium;
    &::before {
        content: "";
        display: block;
        width: 45px;
        padding-top: 2px;
        border-top: solid 2px rgb(216, 150, 29);
    }
}
.blockquote {
    border-left: solid $charcoal thin;
}
blockquote {
    font-weight: $Medium;
    font-size: 36px;
    margin-left: 40px;
    margin-bottom: 0;
}
.attribution {
    font-size: 24px;
    margin-left: 40px;
}