body {
  font-family: "Geologica", sans-serif;
  font-weight: 200;
  font-size: 16px;
  letter-spacing: 0.04em;
  line-height: 26px;
  color: #E0F5FF;
}

.faded {
  color: hsla(0, 0%, 100%, 0.6);
}

a {
  color: #bd245f;
}
a:hover {
  text-decoration: none;
}

h1 {
  font-weight: 700;
  font-size: 48px;
  color: #16253C;
  background-color: #E0F5FF;
  display: inline-block;
  padding: 8px 8px 0 8px;
}

h2 {
  font-size: 36px;
  color: #E0F5FF;
  font-weight: 400;
  letter-spacing: 0.06em;
}

h3 {
  font-size: 24px;
  color: hsla(0, 0%, 100%, 0.6);
  font-weight: 400;
}

h4 {
  font-size: 18px;
  color: hsla(0, 0%, 100%, 0.6);
  font-weight: 400;
  margin: 0;
}

.title {
  font-size: 4em;
}

.meta {
  font-size: 14px;
  text-transform: lowercase;
  letter-spacing: 0.06em;
  font-weight: 500;
}
.meta::before {
  content: "";
  display: block;
  width: 45px;
  padding-top: 2px;
  border-top: solid 2px rgb(216, 150, 29);
}

.blockquote {
  border-left: solid #5d5d5d thin;
}

blockquote {
  font-weight: 500;
  font-size: 36px;
  margin-left: 40px;
  margin-bottom: 0;
}

.attribution {
  font-size: 24px;
  margin-left: 40px;
}

body {
  background-color: #273856;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 15px;
}

.navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 164px;
  z-index: 999;
}
.navigation a {
  transition: all 0.75s;
  margin: 0;
  padding: 24px 30px;
  border-radius: 10px;
}
.navigation a h3:hover {
  color: #E0F5FF;
  transition: all 0.25s;
  text-decoration: none;
}
.navigation a.active {
  background-color: #16253C;
}
.navigation a.active h3 {
  color: #E0F5FF;
}

.main-content {
  width: auto;
  padding: 95px 30px;
}

.on {
  text-decoration: underline;
}

header {
  margin-top: 45px;
  width: 100%;
  margin-bottom: 30px;
}

.work {
  width: 350px;
  padding: 15px;
  background-color: white;
  border-radius: 10px;
  margin: 15px;
  box-shadow: 0 15px 51px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 15px 51px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 15px 51px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
}
.work:hover {
  transform: translateY(-2px);
  transition: all 0.3s;
  box-shadow: 0 15px 51px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 15px 51px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 15px 51px rgba(0, 0, 0, 0.2);
}

.project-card-movie {
  border-radius: 3px;
}

.pill {
  border: solid 1px white;
  border-radius: 50%;
  padding: 5px 15px;
  font-size: 14px;
  display: inline-block;
}

.slide {
  background-size: cover;
  background-position: center;
  height: 200px;
  width: 200px;
  background-color: red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.subslide {
  height: 70vh;
}

.project-title {
  z-index: 999;
  padding-bottom: 12px;
  border-bottom: solid 1px rgb(23, 16, 90);
}

.drawer {
  position: fixed;
  bottom: 20px;
  left: 70px;
  right: 70px;
  overflow-y: auto;
  border-radius: 30px;
  height: 300px;
  background-color: rgba(252, 251, 246, 0.952);
  padding: 30px;
}

.left-col {
  position: fixed;
  left: 0;
  top: 0;
  width: 30%;
  padding: 120px 60px;
  margin-left: 70px;
  height: 100vh;
  overflow-x: auto;
}

.right-col {
  background-color: #e1e1e1;
  position: absolute;
  left: calc(30% + 69px);
  padding: 120px 60px;
  width: calc(70% - 69px);
  min-height: 100%;
  padding-bottom: 40vh;
}

.section-splash {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -99;
}

.sectionMovie {
  opacity: 0.2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hangline {
  margin-top: 180px;
}

.content {
  width: 100%;
  padding: 24px 45px;
  height: auto;
  max-height: calc(100vh - 180px);
  overflow-x: auto;
  border-radius: 10px;
  background-color: #16253C;
}

.subnav {
  background-color: #16253C;
  border-radius: 10px;
  padding: 24px 15px;
}

.dimmed {
  opacity: 0.4;
  transition: all 0.5s;
}
.dimmed:hover {
  opacity: 1;
  transition: all 0.5s;
}

.chapter {
  color: #16253C;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 16px;
}

a .chapter {
  cursor: pointer;
  background-color: #273856;
  color: #E0F5FF;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 16px;
  transition: all 1s;
}
a .chapter:hover {
  transform: translate(-5px);
  transition: all 0.25s;
}
a .chapter.active {
  background-color: #E0F5FF;
  color: #16253C;
  cursor: w-resize;
}
a .chapter.active:hover {
  transform: translate(0px);
  transition: all 0.25s;
}
