<h4><a href="/didactics">Practics</a> / {{disciplines}}
    <a href="{{url}}">{{title}}</a>
    {{/disciplines}}</h4>


<h2 class="project-title">
    {{title}}
</h2>

<div style="margin-bottom: 60px;">
    {{if intro_movie}}
    <video autoplay loop width="100%" src="{{intro_movie}}"></video>
    {{/if}}
</div>

{{main_content}}

    {{ if type == "text" }}

        <div class="text" style="max-width: 833px; margin: 0 auto;">
            {{ text }}
        </div>

    {{ elseif type == "quote" }}

        <div class="blockquote">
            <blockquote>{{ quote }}</blockquote>
            <p class="attribution">— {{ attribution }}</p>
        </div>

    {{ elseif type == "image" }}

        <figure style="margin: 60px 0;">
            <img src="{{ photo }}" width="100%" alt="{{ caption }}" />
            <figcaption>{{ caption }}</figcaption>
        </figure>

    {{ /if }}

{{/main_content}}