<div style="background-color: green; position: relative;">
    <div class="left-col">
        <!-- <a href="{{parent:parent:url}}">
            <p class="meta">{{parent:parent:title}}</p>
        </a> -->



        {{ nav :from="parent:parent:uri" }}
        <div>
            <a href="{{ url }}"{{ if is_current || is_parent }} style="display: none;" {{/if }}>
                <h3 style="opacity: .4;">{{ title }}</h3>
            </a>
            {{ if is_current || is_parent }}
            <ul>
                <a href="{{parent:url}}">
                    <h1>{{title}}</h1>
                </a>
                {{children}}
                    <h4><a href="{{url}}" {{ if is_current || is_parent }} style="background-color: red;" {{/if }}>{{title}}</a></h4>
                    <hr>
                {{/children}}
                <p style="margin-top: 30px;">{{summary}}</p>
            </ul>
            {{ /if }}
        </div>
    {{ /nav }}
    </div>

    <div class="right-col">
        <!-- <div style="position: fixed; bottom: 0; width: 100%; background-color: black;">
            {{ nav :from="parent:uri" }}
                <div style="display: flex; align-items: center;">
                    <a href="{{ url }}"{{ if is_current || is_parent }} style="background-color: #515261;" {{/if }}>
                        
                        {{ title }}
                    </a>
                    {{ if is_current || is_parent }}
                        
                    {{ /if }}
                </div>
            {{ /nav }}
        </div> -->
        <h2 class="project-title">
            {{title}}
        </h2>
    
        <div style="margin-bottom: 60px;">
            {{if intro_movie}}
            <video autoplay loop width="100%" src="{{intro_movie}}"></video>
            {{/if}}
        </div>
    
        {{main_content}}
    
            {{ if type == "text" }}
    
                <div class="text" style="max-width: 833px; margin: 0 auto;">
                    {{ text }}
                </div>
    
            {{ elseif type == "quote" }}
    
                <div class="blockquote">
                    <blockquote>{{ quote }}</blockquote>
                    <p class="attribution">— {{ attribution }}</p>
                </div>
    
            {{ elseif type == "image" }}
    
            <div class="row">
                {{photo}}
                <div class="col">
                    <figure style="margin: 60px 0;">
                        <img src="{{ url }}" width="100%" alt="{{ caption }}" />
                        <figcaption>{{ caption }}</figcaption>
                    </figure>
                </div>
                {{/photo}}
            </div>
    
            {{ /if }}
    
        {{/main_content}}
    </div>
</div>

<script>
    var elms = document.getElementsByClassName( 'splide' );

    for ( var i = 0; i < elms.length; i++ ) {
    new Splide( elms[ i ], {
        type  : 'fade',
        rewind: true,
        autoplay: true,
        pauseOnHover: false,
        arrows: false,
        pagination: false,
        interval: 2000,
        speed: 3000,
    } ).mount();
    }
</script>

