<!-- <div class="section-splash">
    {{if intro_movie}}
    <div class="sectionMovie">
        <video autoplay loop width="100%" src="{{parent:intro_movie}}"></video>
    </div>
        {{else}}
        <div style="background-color: grey; height: 30vh; width: 100%; margin-bottom: 120px; text-align: center; color:white;">[intro movie should show here]</div>
    {{/if}}
    
</div> -->

<div class="container mx-auto space-y-6">
    {{partial:header}}

    <!-- <div style="position: fixed; bottom: 0; width: 100%; background-color: black;">
        {{ nav :from="parent:uri" }}
            <div style="display: flex; align-items: center;">
                <a href="{{ url }}"{{ if is_current || is_parent }} style="background-color: #515261;" {{/if }}>

                    {{ title }}
                </a>
                {{ if is_current || is_parent }}

                {{ /if }}
            </div>
        {{ /nav }}
    </div> -->

    {{if intro_movie}}

            <!-- {{if thumbnail_slides}}
            <div class="splide">
                <div class="splide__track">
                        <div class="splide__list">
                        {{thumbnail_slides}}
                            <div class="splide__slide slide" style="background-image: url('{{url}}');"></div>
                        {{/thumbnail_slides}}
                        </div>
                </div>
            </div>
            {{/if}} -->
            
        <div class="w-2/3 mx-auto">
            <video autoplay loop width="100%" src="{{intro_movie}}"></video>
        </div>
    {{/if}}

    <div class="prose mx-auto">{{summary}}</div>
    <div class="grid grid-cols-4 gap-6">
        <!-- <a href="{{parent:parent:url}}">
            <p class="meta">{{parent:parent:title}}</p>
        </a> -->
    
        {{ nav :from="uri" }}
                    {{ unless no_results }}
                        <a href="{{ url }}">
                            <div class="flex flex-col items-center">
                                <video src="{{intro_movie}}" autoplay></video>
                                <h3>{{ title }}</h3>
                            </div>
                        </a>
                        <!-- <p>{{summary}}</p> -->
                    {{ /unless }}
                {{ /nav }}
    </div>
</div>



<script>
    var elms = document.getElementsByClassName( 'splide' );

    for ( var i = 0; i < elms.length; i++ ) {
    new Splide( elms[ i ], {
        type  : 'fade',
        rewind: true,
        autoplay: true,
        pauseOnHover: false,
        arrows: false,
        pagination: false,
        interval: 2000,
        speed: 3000,
    } ).mount();
    }
</script>


