<div class="left-col">
    <!-- <a href="{{parent:url}}">
        <p class="meta">{{parent:title}}</p>
    </a>     -->

    {{ nav :from="parent:uri" }}
        <div>
            <a href="{{ url }}"{{ if is_current || is_parent }} style="display: none;" {{/if }}>
                <h3>{{ title }}</h3>
            </a>
            {{ if is_current || is_parent }}
            <h1 style="margin-bottom: 0;">{{title}}</h1>
            <p>{{summary}}</p>
            {{ /if }}
        </div>
    {{ /nav }}
</div>

<div class="right-col">
    {{ nav :from="uri" }}
        {{ unless no_results }}
                <a href="{{ url }}"><h1>{{ title }}</h1></a>
        {{ /unless }}
    {{ /nav }}
</div>