<!-- <div class="section-splash">
    {{if intro_movie}}
    <div class="sectionMovie">
        <video autoplay loop width="100%" src="{{intro_movie}}"></video>
    </div>
        {{else}}
        <div style="background-color: grey; height: 30vh; width: 100%; margin-bottom: 120px; text-align: center; color:white;">[intro movie should show here]</div>
    {{/if}}
    
</div> -->

    <h2 class="hangline">{{ section_summary }}</h2>






    {{ nav :from="uri" }}
        {{ unless no_results }}
                <a href="{{ url }}"><h3>{{ title }}</h3></a>
                <p>{{summary}}</p>
        {{ /unless }}
    {{ /nav }}




