<!-- <div class="section-splash">
    {{if intro_movie}}
    <div class="sectionMovie">
        <video autoplay loop width="100%" src="{{intro_movie}}"></video>
    </div>
        {{else}}
        <div style="background-color: grey; height: 30vh; width: 100%; margin-bottom: 120px; text-align: center; color:white;">[intro movie should show here]</div>
    {{/if}}
    
</div> -->

<div class="container mx-auto space-y-6">
    <h1>{{title}}</h1>
    <div class="prose">{{ section_summary }}</div>

    <div class="">
        <div class="grid grid-cols-4 gap-6">
            {{ nav :from="uri" }}
                {{ unless no_results }}
                    <a href="{{ url }}">
                        <div class="flex flex-col items-center">
                            <video src="{{intro_movie}}" autoplay></video>
                            <h3>{{ title }}</h3>
                        </div>
                    </a>
                    <!-- <p>{{summary}}</p> -->
                {{ /unless }}
            {{ /nav }}
        </div>
    </div>
</div>

